footer{
    grid-area: footer;
    background-color: #0078AA;
    color: white;
    display: flex;
    justify-content: center;
    .redes{
        .iconos{
            font-size: 30px; 
            display: flex;
            justify-content: space-evenly;
            padding: 15px;
        }
        >p{
            @media screen and (max-width:450px){
                font-size: 10px;
            }
        }
    }
}