.encabezado{
    grid-area: header;
    >p{
      font-size: 20px;  
    }
    .slide img{
        @media screen and (min-width:820){
            height: 500px;
            object-fit: cover;
        }
        @media screen and (max-width:820px){
            height: 400px;
            object-fit: cover;
        }
        @media screen and (max-width:600px){
            height: 300px;
            object-fit: cover;
        }
    }
}

.encabezado1{
    grid-area: header;
    background-image: url(../img/headerdogs.jpg);
    background-size: cover;
}
.encabezado2 {
    background-image: url(../img/headercats.jpg);
    background-size: cover;
    width: 100vw;
}

/*encabezado adopcion*/

.encabezadoAdopcion{
    grid-area: header;
    background-image: url(../img/header2.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:center;
    @media screen and (max-width:780px){
        justify-content: start;
    }
    .encabezadoInfo{
        text-align: center;
        font-size: 20px;
        color: #fff;
        h1, p, a{
            font-family: 'Roboto Mono', monospace;
        }
        >h1{
            @media screen and (max-width:450px){
                font-size: 20px;
            
            }
        }
        >p{
            @media screen and (max-width:450px){
                margin-bottom: 5px;
                font-size: 15px;
            }
        }
        >a{
            text-decoration: none;
            color: black;
            padding: 10px;
            border: 3px solid black;
            border-radius: 5px;
            transition: 0.4s;
            &:hover{
                background-color: #F2DF3A;
            }
            @media screen and (max-width:820px){
                display: flex;
                margin: auto;
                width: 80%;
                padding: 5px 0px;
                font-size: 20px;
                font-weight: bold;
                justify-content: center;
                background-color: #F2DF3A;
                border: none;
            }
            @media screen and (max-width:450px){
                font-size: 10px;
                margin-bottom: 5px;
            }
        }
    }
}    


.contacto{
    background-image: url(../img/headercontacto.jpg);
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .info{
        text-align: center;
        h1, p{
           font-family: 'Roboto Mono', monospace;
           font-weight: bold;
        }
    }
}


      